<div class="Carousel-container">
  <div class="Carousel" #Carousel>
    <figure class="Carousel__item item" *ngFor="let item of data;let i = index">
      <img src="{{item.url}}" alt="{{i+1}}">
      <figcaption class="title">{{item.title}}</figcaption>
    </figure>
  </div>
  <button class="pre" (click)="prev()" [ngStyle]="prevSlideIsFinished ? {'opacity': 0.1 , 'cursor': 'default'} : {}"
    [disabled]="isAnimating || prevSlideIsFinished"> pre</button>
  <button class="next" (click)="next()" [ngStyle]="middleIndex <= 1 ? {'opacity': 0.1 , 'cursor': 'default'} : {}"
    [disabled]="isAnimating || middleIndex <= 1">
    next</button>
</div>
